[submodule "Sketch Mate"]
	path = Sketch Mate
	url = https://github.com/getflourish/Sketch-Mate.git
[submodule "Markup"]
	path = Markup
	url = https://github.com/tudou527/marketch.git
[submodule "Content Generator"]
	path = Content Generator
	url = https://github.com/timuric/Content-generator-sketch-plugin.git
[submodule "Color Analyzer"]
	path = Color Analyzer
	url = https://github.com/getflourish/Sketch-Color-Contrast-Analyser.git
[submodule "Dynamic Button"]
	path = Dynamic Button
	url = https://github.com/ddwht/sketch-dynamic-button.git
[submodule "Rename"]
	path = Rename
	url = https://github.com/rodi01/RenameIt.git
[submodule "Smartboards"]
	path = Smartboards
	url = https://github.com/elihorne/smartboards.git
[submodule "Fluid"]
	path = Fluid
	url = https://github.com/matt-curtis/Fluid-for-Sketch.git
[submodule "Flex Layout"]
	path = Flex Layout
	url = https://github.com/hrescak/Sketch-Flex-Layout.git
[submodule "Text Layers"]
	path = Text Layers
	url = https://github.com/benkutil/jw-sketch-plugins.git
[submodule "Data Populator"]
	path = Data Populator
	url = https://github.com/preciousforever/sketch-data-populator.git
[submodule "Sandros Plugins"]
	path = Sandros Plugins
	url = https://github.com/alssndro/sandros-sketch-plugins.git
[submodule "Sketch Commands"]
	path = Sketch Commands
	url = https://github.com/bomberstudios/sketch-commands.git
[submodule "Sketch Palettes"]
	path = Sketch Palettes
	url = https://github.com/andrewfiorillo/sketch-palettes.git
[submodule "Long Shadows"]
	path = Long Shadows
	url = https://github.com/JayHoltslander/Sketch-Make-Long-Shadow.git
[submodule "Styledrop"]
	path = Styledrop
	url = https://github.com/ryanmclaughlin/styledrop.git
[submodule "Typographic Scale"]
	path = Typographic Scale
	url = https://github.com/automat/sketch-plugin-typographic-scale.git
[submodule "Style Inventory"]
	path = Style Inventory
	url = https://github.com/getflourish/Sketch-Style-Inventory.git
